* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Fuente*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: #ed927f;
    font-size: 16px;
}

 ul {
    list-style-type: none;
 }

 /* Parte superior*/

 .titulo {
    display: flex;
    justify-content: center;
 }

 .titulo h1 {
  color: #0c090c;
  padding: 0.2%;
  font-size: 4.375em;
  font-family: 'Roboto', sans-serif;
 }

 .logo {
   width: 100%;
   max-width: 10%; 
   padding: 1.5%;
 }

 .center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .superior {
background-color: #9a270c;
 }

 /* Menu */

 a {
   text-decoration: none;
   color: #0c090c;
   font-family: 'Poppins', sans-serif;
 }

 .menu {
   display: flex;
   justify-content: space-between;
   font-size: 1.25em;
   font-weight: bolder;
   padding: 2%;
   margin: 0.2%;
   border: 0.125em solid #181520 
 }

 /* Contenido Main*/

 p {
   display: flex;
   justify-content: center;
   font-size: 0.625rem;
   font-family: 'Poppins', sans-serif;
   color: #181520;
   font-weight: bold;
   margin: 2%;
   padding: 1%;
 }

.horizonte {
   width: 30%;
}

.centrar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.obelisco {
   width: 40%;
   padding: 5%;
}

/* Inicio de Estudios */

h1 {
  display: flex;
    justify-content: center;
    color: #0c090c;
    padding: 0.2%;
    font-size: 2.1875rem;
    font-family: 'Roboto', sans-serif;
}
p {
  display: flex;
  justify-content: center;
  font-size: 0.625rem;
  font-family: 'Poppins', sans-serif;
  color: #181520;
  font-weight: bold;
  margin: 2%;
  padding: 1%;
}

.centrarColegio {
  display: flex;
   justify-content: center;
   align-items: center;
}

.sanMartin {
  width: 30%;
   padding: 5%;
}

.centrarUnimar {
  display: flex;
   justify-content: center;
   align-items: center;
}

.unimar {
  width: 30%;
   padding: 5%;
}

.centrarDaVinci {
  display: flex;
  justify-content: center;
  align-items: center;
}

.daVinci {
  width: 30%;
   padding: 5%;
}

.centrarCoder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coderHouse {
  width: 30%;
   padding: 5%;
}


/* Comienzo de Trabajos */

p {
  display: flex;
   justify-content: center;
   font-size: 1.875rem;
   font-family: 'Poppins', sans-serif;
   color: #181520;
   font-weight: bold;
   margin: 2%;
   padding: 1%;
}

.centrarCafe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe {
  width: 30%;
  padding: 5%;
}

.centrarConfiteria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confiteria {
  width: 30%;
  padding: 5%;
}

.mapResponsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

}

/* Commienzo de contactos */

p {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  font-family: 'Poppins', sans-serif;
  color: #181520;
  font-weight: bold;
  margin: 2%;
  padding: 1%;
}
.instagram {
  width: 15%;
  padding: 5%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.whatsapp {
  width: 20%;
  padding: 5%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.socialContenedor {
  display: flex;
  justify-content: flex-start;
  margin: 5%;
  padding: 2%;
}