* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Fuente*/ 
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
/* Iconos redes sociales */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

 /*Estilos del contenedor*/

 .gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "main"
                        "footer"
   
}

/*Estilos de las fuentes*/

h1 {
      color: #0c090c;
      padding: 0.2%;
      font-size: 1.8em;
      font-family: 'Roboto', sans-serif;
}
p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;

}     

/*estilos del header y de sus hijos*/
.encabezado{
    grid-area: header;
  
}

.encabezado nav {
    background-color: #9a270c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu {
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
    color: #181520;
}
/* Hover y efectos */
.snip1284 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .snip1284 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1284 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.2em;
    padding: 0;
  }
  .snip1284 a {
    padding: 0 0.6em;
    color: #181520;
    position: relative;
    text-decoration: none;
  }
  .snip1284 a:before,
  .snip1284 a:after {
    width: 3px;
    height: 0;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #ed927f;
  }
  .snip1284 a:before {
    top: 0;
    right: 0;
  }
  .snip1284 a:after {
    bottom: 0;
    left: 0;
  }
  .snip1284 a:hover,
  .snip1284 .current a {
    color: #fed6d3;
  }
  .snip1284 a:hover:before,
  .snip1284 .current a:before,
  .snip1284 a:hover:after,
  .snip1284 .current a:after {
    height: 100%;
  }

.encabezado nav img {
    width: 10%;
    padding: 2%;
}

main{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorFotos{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows :auto;
    gap: 2%;
    margin: 2%;
}
.card{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.card img{
    width: 100%;  
}

footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

footer a {
    font-size: 2rem;
}

.bi {
    color: #0c090c;
}

/* Estudios */


body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

 /*Estilos del contenedor*/

 .gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                        "footer"
   
}

/*Estilos de las fuentes*/

.animate__titulo {
      color: #0c090c;
      padding: 0.2%;
      font-size: 1.8em;
      font-family: 'Roboto', sans-serif;
}
p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     

/*estilos del header y de sus hijos*/
.encabezado{
    grid-area: header;
  
}

.encabezado nav {
    background-color: #9a270c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu {
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
    color: #181520;
}

.encabezado nav img {
    width: 10%;
    padding: 2%;
}



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

footer a {
    font-size: 2rem;
}

.bi {
    color: #0c090c;
}

/*Porfolio*/

body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

 /*Estilos del contenedor*/

 .gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "main"
                        "footer"
   
}

/*Estilos de las fuentes*/

p {
     font-size: 2em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     

/*estilos del header y de sus hijos*/
.encabezado{
    grid-area: header;
  
}

.encabezado nav {
    background-color: #9a270c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu {
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
    color: #181520;
}

.encabezado nav img {
    width: 10%;
    padding: 2%;
}

main{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorFotos{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows :auto;
    gap: 2%;
    margin:3%;
}

.card{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
}



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

footer a {
    font-size: 2rem;
}

.bi {
    color: #0c090c;
}

/* Trabajo */
body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

 /*Estilos del contenedor*/

 .gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "main"
                        "footer"
   
}

/*Estilos de las fuentes*/


p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     

/*estilos del header y de sus hijos*/
.encabezado{
    grid-area: header;
  
}

.encabezado nav {
    background-color: #9a270c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu {
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
    color: #181520;
}

.encabezado nav img {
    width: 10%;
    padding: 2%;
}

main{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorFotos{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows :auto;
    gap: 2%;
    margin:3%;
}

.card{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.card img{
    width: 50%;
    
}

footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

footer a {
    font-size: 2rem;
}

.bi {
    color: #0c090c;
}    

 /* Contacto */

 body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
 /*Estilos del contenedor*/

 .gridContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
                          "footer"
   
}
.redes {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #181520;
    font-weight: bold;
}  

article {
    text-align: center;
    padding: 5%;
}


/*estilos del header y de sus hijos*/
.encabezado{
    grid-area: header;
  
}

.encabezado nav {
    background-color: #9a270c;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu {
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;

}

.menu li a {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
    color: #181520;
}

.encabezado nav img {
    width: 10%;
    padding: 2%;
}

footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

footer a {
    font-size: 2rem;
}

.bi {
    color: #0c090c;
}    

@media screen and (max-width: 800px) {
    .encabezado nav img {
        width: 20%;
    }
    .menu li a {
       
       font-size: 1rem;
       
       }
       .contenedorFotos{
     
           grid-template-columns: repeat(2,1fr);
         
       
       }

   }

   @media screen and (max-width: 700px) {
    p {
        font-size: 10px;
    }
   }