* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Fuente*/ 
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
    padding-bottom: 3em;
}
/* Menu bootstrap */
.navbar {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 8%;
}

.azul {
    background-color: #000000;
}
/* Main */
 main {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 6%; 
 }

 .page {
    color: #efb810;
 }

/* Hover y efectos 
.snip1284 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .snip1284 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1284 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.2em;
    padding: 0;
  }
  .snip1284 a {
    padding: 0 0.6em;
    color: #181520;
    position: relative;
    text-decoration: none;
  }
  .snip1284 a:before,
  .snip1284 a:after {
    width: 3px;
    height: 0;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #ed927f;
  }
  .snip1284 a:before {
    top: 0;
    right: 0;
  }
  .snip1284 a:after {
    bottom: 0;
    left: 0;
  }
  .snip1284 a:hover,
  .snip1284 .current a {
    color: #fed6d3;
  }
  .snip1284 a:hover:before,
  .snip1284 .current a:before,
  .snip1284 a:hover:after,
  .snip1284 .current a:after {
    height: 100%;
  }
*/
footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;
}





/* Estudios 


body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

 /*Estilos del contenedor*/

/*Estilos de las fuentes

.animate__titulo {
      color: #0c090c;
      padding: 0.2%;
      font-size: 1.8em;
      font-family: 'Roboto', sans-serif;
}
p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     

/*estilos del header y de sus hijos

footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

/*Porfolio

body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}


/*Estilos de las fuentes

p {
     font-size: 2em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     


footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}


/* Trabajo 
body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}


/*Estilos de las fuentes


p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}


 /* Contacto 

 body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
 /*Estilos del contenedor

.redes {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #181520;
    font-weight: bold;
}  

article {
    text-align: center;
    padding: 5%;
}



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

*/

@media screen and (max-width: 800px) {
    .encabezado nav img {
        width: 20%;
    }
    .menu li a {
       
       font-size: 1rem;
       
       }
       .contenedorFotos{
     
           grid-template-columns: repeat(2,1fr);
         
       
       }

   }

   @media screen and (max-width: 700px) {
    p {
        font-size: 10px;
    }
   }