* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Fuente*/ 
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: #000000;
    padding-bottom: 3em;
    min-height: 100vh;
}
/* Menu bootstrap */
.navbar {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

a:hover, li:hover, .nav-link:hover {
   color: red;
}

.logo {
    width: 8%;
}


a.nav-link {
    color: #efb810;
 }

.azul {
    background-color: #000000;
}
/* Main */
 main {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin: auto;
 }

p.card-text {
    font-family: 'Poppins', sans-serif;
    color: #efb810;
 }
 

 /* comienzo del footer */
footer{
    padding: 1em ;
    position: absolute;
    background-color: #000000;
    bottom: 0%;
    width: 100%;
}

/* Estudios */
 
 /* Main */

img {
    height: 18vh;
}

h1 {
    color: #efb810;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #efb810;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 1%;
    padding: 1.5%;
}

/*Porfolio*/



/* Trabajo 
body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}


/*Estilos de las fuentes


p {
     font-size: 1em;
     font-family: 'Poppins', sans-serif;
     color: #181520;
     font-weight: bold;
}     



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}


 /* Contacto 

 body {
    background-color: #ed927f;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
 /*Estilos del contenedor

.redes {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #181520;
    font-weight: bold;
}  

article {
    text-align: center;
    padding: 5%;
}



footer{
    background-color: #9a270c;
    position: absolute;
    bottom: 0%;
    width: 100%;

}

*/

@media screen and (max-width: 800px) {
    .encabezado nav img {
        width: 20%;
    }
    .menu li a {
       
       font-size: 1rem;
       
       }
       .contenedorFotos{
     
           grid-template-columns: repeat(2,1fr);
         
       
       }

   }

   @media screen and (max-width: 700px) {
    p {
        font-size: 10px;
    }
   }