h1 {
    color: "primario";
    font-size: $tamaño-principal;
    font-family: $fuente-principal;
}

p {
    color: "primario";
    font-size: $tamaño-segundaria;
    font-family: $fuente-segundaria;
    font-weight: $negrita;
    margin: 1%;
    padding: 1.5%;
}