h1 {
    color: $negro;
    font-size: $tamaño-principal;
    font-family: $fuente-principal;
}

p {
    color: $amarillo;
    font-size: $tamaño-segundaria;
    font-family: $fuente-segundaria;
    font-weight: bold;
    margin: 1%;
    padding: 1.5%;
}