.imgcard {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
}
.card-title {
    font-family: $fuente-principal;
    font-size: $tamaño-principal;
    font-weight: bold;
}
.card-text {
    font-family: $fuente-segundaria;
    color: $amarillo;
 }
