footer {
    background-color: $negro;
    position: absolute;
    bottom: 0;
    width: 100%;
    .text-center {
    color: $amarillo;
    }
    .footer-style {
    padding-top: 0.5em;
    background-color: $negro;
    }
    .footer-above {
    padding-top: $espacio-normal;
    background-color: $negro;
    }
    .list-inline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
     h3 {
        color: $amarillo;

     }   
}