.navbar {
    font-size: $tamaño-principal;
    font-family: $fuente-principal;
}

a {
   color: $color-segundario;
}
li {
    @extend a; 
    &:hover {
        @extend li;
    }
}
.nav-link {
    @extend li; 
    &:hover {
        @extend li 
    }
}
.logo {
    width: $tamaño-logo;
}

a {
    .nav-link {
        color: $color-primario;
    }
}

.azul {
    background-color: $color-de-fondo;
}
