.navbar {
    font-size: $tamaño-principal;
    font-family: $fuente-principal;
    font-weight: bold;
}

a {
    &:hover {
        color: $rojo;
    }
}

li{
    &:hover {
        color: $rojo;
    }
}

.nav-link {
    &:hover {
        color: $rojo;
    }
}
.logo {
    width: $tamaño-logo;
}

a {
    .nav-link {
        color: $rojo;
    }
}

.azul {
    background-color: $negro;
}
